.dialog{
	display: none;
} 
.dialog .dialog-overlay{
	position: absolute;			
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;		
}
.dialog .dialog-box{
	position: absolute;
	z-index: 3;
	top: 30%;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	font-size: 14px;			
	border-radius: 5px;
	color: #333;
	background: #eee;			
}
.dialog .dialog-content{
	padding: 20px;			
}
.dialog .dialog-footer{
	padding: 10px;
	text-align: center;
}
.dialog .dialog-footer button{
	background: #f60;
	color: #fff;
}
a.btn{
	display: inline-block;
	padding: 4px 10px;
	color: #fff;
	background:  #e33100;
	border-radius: 5px;
	text-decoration: none;
}
a.btn:hover{
	background: #f60;
}